#mainInput{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}
html{
    background: black;
    color: white;
}
body{
    margin: 0;
    padding: 0;

}


#stdin, #stdout{
    background-color: black;
    /* height: 90%; */
    /* height: auto; */
    overflow: visible;
    width: 100%;
    position: relative;
    justify-content: unset;
    text-rendering: unset;
    resize: none;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 800;
    /* padding-top: 4px;
    padding-left: 5px; */
    /* padding-right: 5px; */
    
}

#stdin{
    padding: 0px;
}

p{
    margin: 0;
}